// Background -Colors
$bg-color1:rgba(32, 72, 79, 1);
$bg-color2: rgb(184, 228, 218);
$bg-color3: rgb(250, 250, 250);
$bg-color4: rgb(7, 33, 37);
$bg-color5:rgb(220, 242, 237);


// Font-Size
$font-size1:1.5rem;
$font-weight1:700;
$font-size2:1rem;
$font-size3:14px;



// Colors
$color1:#fff;
$color2:rgba(32, 72, 79, 1);
$color3:rgb(184, 228, 218);
$color4:rgba(220, 242, 237, 1);
$color5:rgba(220, 242, 237, .2);
$color6:rgba(7, 33, 37, 1);
$color7:rgba(32, 72, 79, 0.2);









